@model AppAempaPasteleria.Models.Insumo

@{
    ViewData["Title"] = "EditarInsumos";
}


<div class="card" style="max-width:800px;margin: 0 auto">
    <div class="card-header">
        Editar Insumo
    </div>
    <div class="card-body" style="width:100%">
        <form class="row g-3" asp-action="EditarInsumos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <label asp-for="idIn" class="control-label"></label>
                <input asp-for="idIn" class="form-control" readonly="readonly" />
                <span asp-validation-for="idIn" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="desIn" class="control-label"></label>
                <input asp-for="desIn" class="form-control" />
                <span asp-validation-for="desIn" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="idProv" class="control-label"></label>
                <select asp-for="idProv" asp-items="@ViewBag.prove" class="form-select"></select>
            </div>
            <div class="col-md-6">
                <label asp-for="fecComIn" class="control-label"></label>
                <input asp-for="fecComIn" class="form-control" />
                <span asp-validation-for="fecComIn" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="fecVenIn" class="control-label"></label>
                <input asp-for="fecVenIn" class="form-control" />
                <span asp-validation-for="fecVenIn" class="text-danger"></span>
            </div>
            <div class="col-12">
                <input type="submit" value="Actualizar" class="btn btn-outline-primary" />
                <a asp-action="ListarInsumos" asp-controller="Insumo" class="btn btn-outline-warning"><i class="bi bi-arrow-return-left"></i> Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
<br />
@if (!string.IsNullOrEmpty(ViewBag.mensaje))
{
    <div style="max-width:800px;margin: 0 auto">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.mensaje
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}